[user]
	email = dwu207@gmail.com
	name = David Wu (sudostack)
[grep]
	lineNumber = true
[alias]
	g = grep --break --heading --line-number
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/dwu/.gitignore_global
	excludesfile = /Users/davidwu/.gitignore_global
